server:
  port: 8085

spring:
  application:
    name: notification-service
  
  cloud:
    discovery:
      enabled: true

logging:
  level:
    org.springframework.web: DEBUG
    com.netflix.discovery: DEBUG
  datasource:
    url: jdbc:mysql://localhost:3306/revjobs_notifications?createDatabaseIfNotExist=true
    username: root
    password: ${DB_PASSWORD:Vishnu@123}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: '*'

